/*Estilos relacionados a pagina de Devstars*/

.section-table {
    width: auto;
    border: 3px double #25cbd3;
    margin: 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;


}
.sub-title-devstar {
    margin: 20px 20px 40px;
}

.th-config {
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #25cbd3;
    font-size: 2.0em;
    width: 100%;
    margin: auto;
    color: #25cbd3;
}
 .div-iframe-rank {
    width: auto;
    margin: 30px 10px 10px;
    border: 3px double #25cbd3;
    border-radius: 20px;
 }

 .thead-color {
     color: #5e49ff;
 }

 .tbody-color {
     color: #25cbd3;
 }

 .ocult-char {
     color: #1c0c3f;
 }

@media screen and (min-width: 992px) {
    .section-table{
        width: 60%;
        margin: 20px auto;
    }

    .div-iframe-rank {
        width: 60%;
        height: auto;
        margin: auto;
        padding: 10px;    
    }
    #ifreme-height {
        height: 400px;
    }

    .thead-color,
    .tbody-color{
        padding-left: 50px;
        padding-right: 30px;
    }
}
    