/*Estilos relacionados a pagina de Devstars*/

.section-table {
    width: 90%;
    border: 1px solid #25cbd3;
    margin: 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;


}
.table-config {

}
 .div-frame-rank {
margin: auto;
border: 5px double;
 }